<h1>Reviews</h1>
<table>
    <tr>
        <th>Wine</th>
        <th>Comment</th>
        <th>Rating</th>
        <th>Username</th>
    </tr>

    <% reviews.forEach(function(review) { %>
        <tr>
            <td>
                <% review.wine.forEach(function(wine) { %>
                    <%= wine.name %>
                <% }) %>
            </td>
            <td><%= review.comment %></td>
            <td><%= review.rating %></td>
            <td>
                <% review.user.forEach(function(user){ %>
                   <a href="/user/detail?id=<%= user._id %>"> <%= user.username %> </a>
               
               <% }) %>
            </td> 
            
        </tr>
    <% }) %>
</table>