<div class="feedpage">
    <h1>Reviews</h1>

        <% reviews.forEach(function(review) { %>
        <div class="index">
            <div class="topline"> 
                    <% review.wine.forEach(function(wine) { %>
                        <div> <h4> <a href="/wine/detail?id=<%=wine._id%>" class="navlink">  <%= wine.name %> </a> </h4> </div>
                        <% }) %>
                        <div> Rating: <%= review.rating %>/5 </div> 
            </div> 
            <div class="main">
                <% review.user.forEach(function(user){ %>
                    <div> <a href="/user/detail?id=<%= user._id %>" class="navlink"> @<%= user.username %> </a> </div>
                    <% }) %>
                    <div> <%= review.comment %> </div>
            </div>    
                
    
        </div>
        <% }) %>
    
    
</div>



