<div>
    <div>
        <h3> <%= user.username %></h3>
    </div>

    <div> Member since: <%= moment(user.createdAt).fromNow() %></div>
    <div> Last review added: <%= moment(user.updatedAt).fromNow() %></div>
    <br>
    <h4> Reviews added by <%= user.username %> </h4>
    <% user.review.forEach(function(review) { %>
        <div class="review"> 
            <div class="topline"> 
                <% review.wine.forEach(function(wine) { %>
                    <div> <h5> <%= wine.name %> </h5> </div>
                    <% }) %>
                    <div> Rating: <%= review.rating %>/5</div> 
            </div>
            
            <div id="test">
                <%= review.comment %>
            </div> 
        </div>
    <% }) %>

</div>