<div class="feedpage">
    <hr>
    <div>
        <h3> <%= user.username %></h3>
    </div>

    <div> Member since: <%= moment(user.createdAt).fromNow() %></div>
    <div> Last review added: <%= moment(user.updatedAt).fromNow() %></div>
    <br>
    <h4> Reviews added by <%= user.username %> </h4>
    <% user.review.forEach(function(review) { %>
        <div class="index"> 
            <div class="topline"> 
                <% review.wine.forEach(function(wine) { %>
                    <div><h4> <a href="/wine/detail?id=<%= wine._id %>" class="navlink"><%= wine.name %></a></h4> </div>
                    <% }) %>
                    <div> Rating: <%= review.rating %>/5</div> 
            </div>
            
            <div class="main">
                <%= review.comment %>
            </div> 
        </div>
    <% }) %>

</div>