<h1>Profile</h1>
<a href="/user/edit?id=<%= currentUser._id %>"> Edit Profile </a>
<table>
    <tr>
        <td>First Name:</td>
        <td> <%= currentUser.firstName %> </td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td> <%= currentUser.lastName %> </td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td> <%= currentUser.emailAddress %> </td>
    </tr>
    <tr>
        <td>Username:</td>
        <td> <%= currentUser.username %> </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td> <a href="/user/editPassword?id=<%= currentUser._id %>"> Change Password </a> </td>
    </tr>
</table>

<h2>Reviews:</h2>

<% user[0].review.forEach(function(review) { %>
    <div> 
        <hr>
        <div> 
            <% review.wine.forEach(function(wine) { %>
            <h4> <%= wine.name %> </h4> 
            <% }) %>
        </div>
        <div> Rating: <%= review.rating %>/5</div> 
        <div>
            <%= review.comment %>
        </div> 

        <div> <a href="/review/edit?id=<%= review._id %>"> Edit Review </a></div> 
        <div> <a href="/review/delete?id=<%= review._id %>"> Delete Review </a> </div> 

    </div>
    <% }) %>



