<h3><%= wine.name %></h3>

<div>Grape: <%= wine.grape %></div>
<div>Region: <%= wine.region %></div>
<div>Country: <%= wine.country %></div>

<% wine.review.forEach(function(review) { %>
<div>Username: <%= user.username %></div>
<div>Review: <%= review.comment %></div>
<div>Rating: <%= review.rating %></div>
<% }) %>