<h3><%= wine.name %></h3>

<div>Grape: <%= wine.grape %></div>
<div>Region: <%= wine.region %></div>
<div>Country: <%= wine.country %></div>

<div> 

    <% wine.review.forEach(function(review) { %>
       <hr>
       <%  review.user.forEach(function(user){ %>

       <div> Review by: <%= user.username %> </div> 
       <%  })%>
        <div> Rating: <%= review.rating %> </div>
        <div> <%= review.comment %> </div>
    <% }) %>

</div>
