<div class="feedpage">
    <h1>Wines</h1>

    
        <% wines.forEach(function(wine) { %>
           <div class="index">

                <div class="topline"> 
                    <div><h4> <a href="/wine/detail?id=<%= wine._id %>" class="navlink"><%= wine.name %></a></h4> </div>
                    <div> Last Updated: <%= moment(wine.updatedAt).fromNow() %> </div>
                </div>

                <div class="main">
                    <div> Grape:  <%= wine.grape %> </div>
                    <div> Region:  <%= wine.region%> </div>
                    <div> Country: <%= wine.country %> </div>
                </div>

           </div> 
    
        <% }) %>
    
</div>



